<div class="container">
    <h4>Add Todo</h4>
    <div class="my-3">
    <form>
        <div class="form-group">
          <label for="todo-title">Todo Title</label>
          <input type="text" class="form-control" id="todo-title" name="todo-title" aria-describedby="emailHelp" [(ngModel)]="title">
        </div>
        <div class="form-group">
          <label for="desc">Todo Description</label>
          <input type="text" class="form-control" name="desc" id="desc" [(ngModel)]="desc">
        </div>
        <button type="submit" class="btn btn-sm btn-primary" (click)="onSubmit()">Add Todo</button>
      </form>
    </div>

</div>
